%h1.title= @theatre.title

%table.show-table
  %thead
    %th Movies
  %tbody
    %tr
      %td
        = @movies.map(&:title).join(", ")

%table.show-table
  %thead
    %th{colspan: '2'}
      = " Marathons (#{@theatre.marathons.count})"
  %tbody
    - @marathons.each do |marathon|
      %tr
        %td
          - marathon.each do |showtime|
            = showtime.movie.title
            %br
        %td
          - marathon.each do |showtime|
            = Time.at(showtime.start_time).to_s(:time)
            %br
