%h1.title Movies

- if !@movies.empty?
  %table.movie-table
    %thead
      %th Title
      %th Short Description
      %th Duration (in minutes)
      %th Theatre
    %tbody
      - @movies.each do |movie|
        %tr.movie{data_id: movie.id}
          %td= movie.title
          %td= movie.description
          %td.duration= movie.duration.to_int
          %td= movie.theatre.title
- else
  .empty-table You don't have any movies stored.

.row
  .large-12.columns
    .panel
      = JSON.parse(@output, {'object_class' => 'Hash'})
      -# = JSON.pretty_generate(JSON.parse(@output))
      -# = JSON.parse(@output)
